body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #171717;
    color: #ededed;
    line-height: 1.6;
}

h1 {
    text-align: center;
    color: #ffffff;
}

.page-title {
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

#video-container, #info-container {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    box-sizing: border-box;
}

#video-container {
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    background: rgb(15, 15, 15);
    border: 1px solid white;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

#video_feed {
    border-radius: 12px;
    max-width: 100%;
    height: auto;
}

#info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.param-container {
    background-color: rgb(17, 17, 17);
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.display-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}

.param-row {
    border-bottom: 1px solid #ddd;
}

.param {
    font-weight: bold;
    padding: 10px 0;
}

.data {
    text-align: center;
    padding: 10px 0;
}

#nav-icon-container {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    flex-wrap: wrap;
}

.nav-icons {
    cursor: pointer;
    font-size: 2.5rem;
    margin: 0 15px;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    filter: drop-shadow(3px 3px 0px rgb(141, 141, 141));
    text-decoration: none;
}

.nav-icons:hover {
    transform: scale(1.2);
    color: #007BFF;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: rgb(17, 17, 17);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(225, 225, 225, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, select, button {
    width: 80%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #2ce142;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #18ff33;
}

button:active {
    background-color: #00b015;
}

.text-danger {
    color: red;
    font-size: 0.9em;
}

.hidden {
    display: none;
}

/* Container Styles for Centering Content */
.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
    font-weight: 600;
}

#download-btn {
    background-color: #4caf50;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#download-btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#clear-btn {
    background-color: #e53935;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#clear-btn:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Table Styles */
#status-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#status-table thead {
    background-color: #2d87f0;
    color: white;
    text-align: left;
}

#status-table th {
    padding: 12px 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#status-table .status-data {
    padding: 12px 20px;
    border-bottom: 1px solid #f1f1f1;
    text-align: left;
    color: #555;
}

#status-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#status-table tr:hover {
    background-color: #f1f1f1;
}

#status-table tr:last-child .status-data {
    border-bottom: none;
}

@media (max-width: 768px) {
    #container {
        flex-direction: column;
        align-items: center;
    }

    #video-container, #info-container {
        max-width: 100%;
    }

    #status-table {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        padding: 10px 20px;
    }
}
