{% extends "base.html" %}
{% block title %}
Status Records
{% endblock %}
{% block content %}
<a href='{{url_for("main.home")}}' class="btn" id="back-btn">↩</a>
<h1>Status History</h1>
<div class="tab-container">
    <a href="{{url_for('main.export_excel')}}" class="tab-btn" id="download-btn">Download Excel ⬇️</a>
    <a href="{{url_for('main.clear_table')}}" class="tab-btn" id="clear-btn">Clear Data 🗑</a>
    <div style="overflow-x: auto;">
        <table id="status-table">
            <thead id="status-head">
                <tr>
                    <th class="status-label">#</th>
                    <th class="status-label">Temperature</th>
                    <th class="status-label">Humidity</th>
                    <th class="status-label">DO Value</th>
                    <th class="status-label">pH value</th>
                    <th class="status-label">Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for status in statuses %}
                <tr class="status">
                    <td class="status-data">{{ loop.index }}</td>
                    <td class="status-data">{{ status.temperature }}</td>
                    <td class="status-data">{{ status.humidity }}</td>
                    <td class="status-data">{{ status.do_algal }}</td>
                    <td class="status-data">{{ status.ph_value }}</td>
                    <td class="status-data">{{ status.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}